.modal{
position:fixed;
z-index: 500;
background-color: #ccc;
width: 50%;
border: 1px solid #fff;
box-shadow: 1px 1px 1px #000;
padding: 16px;
box-sizing: border-box;
top: 30%;
left: 25%;
border-radius: 5px;
}