.results{
    display: flex;
    flex-direction: row;
}
button ,input ,.result{
    width: 20%;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}
.result{
    background-color: #eee;
    margin-top: 0;
    cursor: pointer;
}
.modal{
    text-align: center;
    padding-top: 2rem;
}